<div class="edit-form-wrapper" *ngIf="model" fxFlexFill>
  <mat-toolbar class="sticky">
    <span>{{title}}</span>
    <span class="toolbar-spacer"></span>
    <button mat-raised-button (click)="showForm=!showForm">{{showForm?'Show Builder':'Show Form'}}</button>
    <button mat-raised-button (click)="showJson=!showJson">{{showJson?'Hide JSON':'Show JSON'}}</button>
  </mat-toolbar>
	<div *ngIf="!showForm" fxFlexFill>
		<div fxLayout="row" class="container">
				<div fxFlex="25" class="sidebar sticky">
					<!-- <div>
				  <label>Background Color</label>
				  <input class="colorpick" type="color" name="bgColor" [(ngModel)]="model.theme.bgColor" >    
				</div>
				<div>
				  <label>Text Color</label>
				  <input class="colorpick" type="color" name="textColor" [(ngModel)]="model.theme.textColor">    
				</div> -->
					<div class="margin-5">
						<h2>Select Fields</h2>
						<p>Customize your form by drag and drop below fields to the form area.</p>
					</div>
					<mat-selection-list [multiple]="false" cdkDropList id="list-select" #listSelect="cdkDropList"
						[cdkDropListConnectedTo]="connectSections()" [cdkDropListData]="fieldModels">
						<mat-list-option cdkDrag [cdkDragData]="item" *ngFor="let item of fieldModels"
							(cdkDragStart)="onDragStart($event)" (cdkDragEnd)="onDragEnd($event)"
							(cdkDragDrop)="onDragged($event)">
							<mat-icon mat-list-icon>{{item.icon}}</mat-icon>
							<h5 mat-line>{{item.label}}</h5>
							<div class="custom-placeholder" *cdkDragPlaceholder></div>
						</mat-list-option>
					</mat-selection-list>
				</div>
			<div class="overflow-auto" fxFlex="auto">
				<div class="form-container" fxLayout="column">

					<!-- [style.backgroundColor]="model.theme.bgColor"
				[style.color]="model.theme.textColor"> -->
					<div fxFlex="auto" fxLayout="column">
						<mat-form-field fxFlex="auto" appearance="outline">
							<mat-label>Form Name</mat-label>
							<input matInput type="text" placeholder="form name..." [(ngModel)]="model.name">
							<mat-hint>This is the name we will use to save this form.</mat-hint>
						</mat-form-field>
						<mat-form-field fxFlex="auto" appearance="outline">
							<mat-label>Description</mat-label>
							<textarea matInput placeholder="form description..." cdkTextareaAutosize
								[(ngModel)]="model.description"></textarea>
							<mat-hint>Short description of the usage of this form.</mat-hint>
						</mat-form-field>
          </div>
					<!-- [style.backgroundColor]="model.theme.bgColor"
				[style.color]="model.theme.textColor"> -->
          <div fxLayout="column" class="section" *ngFor="let section of model.sections;let j= index;">
            <!-- Add setion titles -->

            <div fxFlex="auto" fxLayout="column">
              <mat-form-field fxFlex="auto" appearance="outline">
                <mat-label>Section Name</mat-label>
                <input matInput type="text" placeholder="form name..." [(ngModel)]="section.name">
                <mat-hint>Title for this Section.</mat-hint>
              </mat-form-field>
              <mat-form-field fxFlex="auto" appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="form description..." cdkTextareaAutosize
                  [(ngModel)]="section.description"></textarea>
                <mat-hint>Short description of the usage of this section.</mat-hint>
              </mat-form-field>
            </div>

            <mat-list fxFlex="auto" class="drop-list" cdkDropList [id]="'list-'+j"
              [ngClass]="{'empty':section.attributes.length == 0}"
              (cdkDropListDropped)="onDrop($event)"
              [cdkDropListData]="section.attributes"
              [cdkDropListConnectedTo]="connectSections()">
              <mat-list-item *ngFor="let item of section.attributes;let i= index;" cdkDrag [cdkDragData]="item"
                (cdkDragStart)="onDragStart($event)" (cdkDragEnd)="onDragEnd($event)"
                (cdkDragDrop)="onDragged($event)">
                <mat-expansion-panel fxLayout="column" class="form-list-card">
                  <mat-expansion-panel-header fxFlex="auto">
                    <div fxFlex="auto">
                      <mat-icon class="dragger" fxFlexAlign="center" fxFlex="10" cdkDragHandle>
                        drag_handle</mat-icon>
                      <div fxFlex="auto" fxLayout="column">
                        <mat-form-field fxFlex="auto" appearance="outline" *ngIf="item.type=='text'"
                          (click)="$event.stopPropagation()">
                          <mat-label>{{item.label}}<span *ngIf="item.required"
                              class="text-danger">*</span></mat-label>
                          <input type="text" matInput id="{{item.name}}"
                            placeholder="{{item.placeholder}}">
                        </mat-form-field>
                        <mat-form-field fxFlex="auto" appearance="outline"
                          *ngIf="item.type=='email'" (click)="$event.stopPropagation()">
                          <mat-label>{{item.label}}<span *ngIf="item.required"
                              class="text-danger">*</span></mat-label>
                          <input type="email" matInput id="{{item.name}}"
                            placeholder="{{item.placeholder}}">
                        </mat-form-field>
                        <mat-form-field fxFlex="auto" appearance="outline"
                          *ngIf="item.type=='phone'" (click)="$event.stopPropagation()">
                          <mat-label>{{item.label}}<span *ngIf="item.required"
                              class="text-danger">*</span></mat-label>
                          <input type="text" matInput id="{{item.name}}"
                            placeholder="{{item.placeholder}}">
                        </mat-form-field>
                        <mat-form-field fxFlex="auto" appearance="outline"
                          *ngIf="item.type=='number'" (click)="$event.stopPropagation()">
                          <mat-label>{{item.label}}<span *ngIf="item.required"
                              class="text-danger">*</span></mat-label>
                          <input type="number" matInput id="{{item.name}}" min="{{item.min}}"
                            max="{{item.max}}" placeholder="{{item.placeholder}}">
                        </mat-form-field>
                        <mat-form-field fxFlex="auto" appearance="outline" *ngIf="item.type=='date'"
                          (click)="$event.stopPropagation()">
                          <mat-label>{{item.label}}<span *ngIf="item.required"
                              class="text-danger">*</span></mat-label>
                          <input type="date" matInput id="{{item.name}}"
                            placeholder="{{item.placeholder}}">
                        </mat-form-field>
                        <mat-form-field fxFlex="auto" appearance="outline"
                          *ngIf="item.type=='datetime-local'" (click)="$event.stopPropagation()">
                          <mat-label>{{item.label}}<span *ngIf="item.required"
                              class="text-danger">*</span></mat-label>
                          <input type="datetime-local" matInput id="{{item.name}}"
                            placeholder="{{item.placeholder}}">
                        </mat-form-field>
                        <mat-form-field fxFlex="auto" appearance="outline"
                          *ngIf="item.type=='textarea'" (click)="$event.stopPropagation()">
                          <mat-label>{{item.label}}<span *ngIf="item.required"
                              class="text-danger">*</span></mat-label>
                          <textarea matInput id="{{item.name}}"
                            placeholder="{{item.placeholder}}">
                    </textarea>
                        </mat-form-field>
                        <mat-form-field fxFlex="auto" appearance="outline" *ngIf="item.type=='file'"
                          (click)="$event.stopPropagation()">
                          <mat-label>{{item.label}}<span *ngIf="item.required"
                              class="text-danger">*</span></mat-label>
                          <input type="file" matInput id="{{item.name}}"
                            placeholder="{{item.placeholder}}">
                          <mat-hint>(File can't be uploaded right now)</mat-hint>
                        </mat-form-field>
                        <div fxFlex="auto" *ngIf="item.type=='paragraph'">
                          <p class="form-text">{{item.placeholder}}</p>
                        </div>
                        <mat-form-field fxFlex="auto" appearance="outline"
                          *ngIf="item.type=='select'" (click)="$event.stopPropagation()">
                          <mat-label>{{item.label}}<span *ngIf="item.required"
                              class="text-danger">*</span></mat-label>
                          <mat-select matInput id="{{item.name}}">
                            <mat-option *ngFor="let v of item.values" [value]="v.value">
                              {{v.label}}</mat-option>
                          </mat-select>
                          <!-- <mat-hint>{{item.description}}</mat-hint> -->
                        </mat-form-field>
                        <div class="checkbox" fxFlex="auto" *ngIf="item.type=='checkbox'"
                          (click)="$event.stopPropagation()">
                          <mat-label>{{item.label}}<span *ngIf="item.required"
                              class="text-danger">*</span></mat-label>
                          <!-- <a *ngFor="let v of item.values">
                      <input type="checkbox" matInput [value]="v.value" name="{{item.name}}" (click)="toggleValue(v)"> {{v.label}}
                    </a> -->
                          <!-- <span class="example-list-section"> -->
                          <ul class="checkbox-list">
                            <li *ngFor="let v of item.values">
                              <mat-checkbox [value]="v.value">
                                {{v.label}}
                              </mat-checkbox>
                            </li>
                          </ul>
                          <!-- </span> -->
                        </div>
                        <div class="radio" fxFlex="auto" *ngIf="item.type=='radio'"
                          (click)="$event.stopPropagation()">
                          <mat-label>{{item.label}}<span *ngIf="item.required"
                              class="text-danger">*</span></mat-label>
                          <!-- <a *ngFor="let v of item.values">
                      <input type="radio" matInput [value]="v.value" name="{{item.name}}" > {{v.label}}
                    </a> -->
                          <mat-radio-group class="radio-group" [(ngModel)]="item.value"
                            [ngModelOptions]="{standalone: true}">
                            <mat-radio-button class="radio-button" *ngFor="let v of item.values"
                              [value]="v.value">
                              {{v.label}}
                            </mat-radio-button>
                          </mat-radio-group>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel-header>

                  <div fxFles="auto" fxLayout="column">

                    <div class="toggle-Wrapper">
                      <section>
                        <mat-slide-toggle class="margin-10" [(ngModel)]="item.required"
                          [color]="'red'">
                          Required
                        </mat-slide-toggle>
                      </section>
                      <div fxLayout="column">
                        <div fxFlex="50">
                          <mat-form-field fxFlex="auto" appearance="outline">
                            <mat-label>Label</mat-label>
                            <input matInput type="text" [(ngModel)]="item.label" />
                          </mat-form-field>
                          <mat-form-field fxFlex="auto" appearance="outline">
                            <mat-label>Placeholder</mat-label>
                            <input matInput type="text" [(ngModel)]="item.placeholder" />
                          </mat-form-field>
                          <mat-form-field fxFlex="auto" appearance="outline">
                            <mat-label>Name</mat-label>
                            <input matInput type="text" [(ngModel)]="item.name" />
                          </mat-form-field>
                        </div>
                        <section>
                          <mat-slide-toggle class="margin-10" [(ngModel)]="item.validation"
                            [color]="'red'">
                            Validation
                          </mat-slide-toggle>
                        </section>
                        <div fxFlex="50" *ngIf="item.validation">
                          <mat-form-field fxFlex="auto" appearance="outline">
                            <mat-label>Validation Regex</mat-label>
                            <input matInput type="text" [(ngModel)]="item.regex" />
                            <mat-hint>Regular Expresion to validate entered data.</mat-hint>
                          </mat-form-field>
                          <mat-form-field fxFlex="auto" appearance="outline">
                            <mat-label>Validation Error text</mat-label>
                            <input matInput type="text" [(ngModel)]="item.errorText" />
                          </mat-form-field>
                        </div>
                      </div>
                      <!-- <p> -->
                      <!-- number -->
                      <div *ngIf="item.type=='number'">
                        <mat-form-field appearance="outline">
                          <mat-label>Min</mat-label>
                          <input matInput type="text" [(ngModel)]="item.min" />
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                          <mat-label>Max</mat-label>
                          <input matInput type="text" [(ngModel)]="item.max" />
                        </mat-form-field>
                      </div>
                      <div *ngIf="item.type=='paragraph'">
                        <mat-form-field fxFlex="auto" appearance="outline">
                          <mat-label>Paragraph Text</mat-label>
                          <textarea matInput placeholder="Text to form the Paragraph"
                            cdkTextareaAutosize [(ngModel)]="item.placeholder"></textarea>
                        </mat-form-field>
                      </div>
                      <!-- </p> -->
                      <!-- <p> -->
                      <!-- radio || checkbox || select -->
                      <div *ngIf="item.type=='radio'|| item.type=='checkbox' || item.type=='select'">
                        <div>
                          <div>
                            <label>Label</label>
                          </div>
                          <div>
                            <label>Value</label>
                          </div>
                        </div>
                        <div *ngFor="let i of item.values; let valueIndex=index;">
                          <mat-form-field>
                            <input matInput type="text" [(ngModel)]="i.label" />
                          </mat-form-field>
                          <mat-form-field>
                            <input matInput type="text" [(ngModel)]="i.value" />
                          </mat-form-field>
                          <div>
                            <label (click)="item.values.splice(valueIndex,1)">remove</label>
                          </div>
                        </div>
                        <div>
                          <mat-form-field>
                            <input matInput type="text" [(ngModel)]="value.label" />
                          </mat-form-field>
                          <mat-form-field>
                            <input matInput type="text" [(ngModel)]="value.value" />
                          </mat-form-field>
                          <div>
                            <label (click)="addValue(item.values)">Add</label>
                          </div>
                        </div>
                      </div>
                      <!-- </p> -->
                    </div>

                  </div>
                  <mat-action-row>
                    <button mat-icon-button color="warn" (click)="removeField(j, i)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </mat-action-row>
                </mat-expansion-panel>
                <!-- </mat-card> -->
                <div class="custom-placeholder" *cdkDragPlaceholder></div>
              </mat-list-item>
            </mat-list>
          </div>
          <!-- Add add new setion-->
				</div>
			</div>
		</div>
	</div>

	<div *ngIf="showForm" class="container marginT60  marginB30" style="max-width:500px;">
		<!-- [style.backgroundColor]="model.theme.bgColor"
  [style.color]="model.theme.textColor"> -->
		<div style="padding:30px;">
			<div>
				<h2>{{model.name}}</h2>
			</div>
			<div>
				<p>{{model.description}}</p>
			</div>
			<!-- <form class="ftheme"> -->
				<div *ngFor="let section of model.sections">
					<div *ngFor="let item of section.attributes">
						<mat-form-field appearance="outline" *ngIf="item.type=='text'">
							<mat-label>{{item.label}}<span *ngIf="item.required" class="text-danger">*</span>
							</mat-label>
							<input type="text" matInput id="{{item.name}}" placeholder="{{item.placeholder}}"
								[(ngModel)]="item.value" [required]="item.required"
								[ngModelOptions]="{standalone: true}" autocomplete="off">
						</mat-form-field>
						<mat-form-field appearance="outline" *ngIf="item.type=='email'">
							<mat-label>{{item.label}}<span *ngIf="item.required" class="text-danger">*</span>
							</mat-label>
							<input type="email" matInput id="{{item.name}}" placeholder="{{item.placeholder}}"
								[(ngModel)]="item.value" [ngModelOptions]="{standalone: true}" autocomplete="off">
						</mat-form-field>
						<mat-form-field appearance="outline" *ngIf="item.type=='phone'">
							<mat-label>{{item.label}}<span *ngIf="item.required" class="text-danger">*</span>
							</mat-label>
							<input type="email" matInput id="{{item.name}}" placeholder="{{item.placeholder}}"
								[(ngModel)]="item.value" [ngModelOptions]="{standalone: true}" autocomplete="off">
						</mat-form-field>
						<mat-form-field appearance="outline" *ngIf="item.type=='number'">
							<mat-label>{{item.label}}<span *ngIf="item.required" class="text-danger">*</span>
							</mat-label>
							<input type="number" matInput id="{{item.name}}" min="{{item.min}}" max="{{item.max}}"
								placeholder="{{item.placeholder}}" [(ngModel)]="item.value"
								[ngModelOptions]="{standalone: true}" autocomplete="off">
						</mat-form-field>
						<mat-form-field appearance="outline" *ngIf="item.type=='date'">
							<mat-label>{{item.label}}<span *ngIf="item.required" class="text-danger">*</span>
							</mat-label>
							<input type="date" matInput id="{{item.name}}" placeholder="{{item.placeholder}}"
								[(ngModel)]="item.value" [ngModelOptions]="{standalone: true}" autocomplete="off">
						</mat-form-field>
						<mat-form-field appearance="outline" *ngIf="item.type=='datetime-local'">
							<mat-label>{{item.label}}<span *ngIf="item.required" class="text-danger">*</span>
							</mat-label>
							<input type="datetime-local" matInput id="{{item.name}}" placeholder="{{item.placeholder}}"
								[(ngModel)]="item.value" [ngModelOptions]="{standalone: true}" autocomplete="off">
						</mat-form-field>
						<mat-form-field appearance="outline" *ngIf="item.type=='textarea'">
							<mat-label>{{item.label}}<span *ngIf="item.required" class="text-danger">*</span>
							</mat-label>
							<textarea matInput id="{{item.name}}" placeholder="{{item.placeholder}}"
								[(ngModel)]="item.value" [ngModelOptions]="{standalone: true}" autocomplete="off">
			</textarea>
						</mat-form-field>
						<mat-form-field appearance="outline" *ngIf="item.type=='file'">
							<mat-label>{{item.label}}<span *ngIf="item.required" class="text-danger">*</span>
							</mat-label>
							<input type="file" matInput id="{{item.name}}" placeholder="{{item.placeholder}}"
								[(ngModel)]="item.value" [ngModelOptions]="{standalone: true}" autocomplete="off">
							<mat-hint>(File can't be uploaded right now)</mat-hint>
						</mat-form-field>
						<div *ngIf="item.type=='paragraph'">
							<p class="form-text">{{item.placeholder}}</p>
						</div>
						<mat-form-field appearance="outline" *ngIf="item.type=='select'">
							<mat-label>{{item.label}}<span *ngIf="item.required" class="text-danger">*</span>
							</mat-label>
							<mat-select matInput id="{{item.name}}" [(ngModel)]="item.value"
								[ngModelOptions]="{standalone: true}">
								<mat-option *ngFor="let v of item.values" [value]="v.value">{{v.label}}</mat-option>
							</mat-select>
						</mat-form-field>
						<div class="checkbox" *ngIf="item.type=='checkbox'">
							<mat-label>{{item.label}}<span *ngIf="item.required" class="text-danger">*</span>
							</mat-label>
							<ul class="checkbox-list">
								<li *ngFor="let v of item.values">
									<mat-checkbox [value]="v.value" name="{{v.name}}">
										{{v.label}}
									</mat-checkbox>
								</li>
							</ul>
						</div>
						<div class="radio" *ngIf="item.type=='radio'">
							<mat-label>{{item.label}}<span *ngIf="item.required" class="text-danger">*</span>
							</mat-label>
							<mat-radio-group class="radio-group" [(ngModel)]="item.value"
								[ngModelOptions]="{standalone: true}">
								<mat-radio-button class="radio-button" *ngFor="let v of item.values" [value]="v.value">
									{{v.label}}
								</mat-radio-button>
							</mat-radio-group>
						</div>
					</div>
				</div>
			<!-- </form> -->
		</div>
	</div>

	<pre *ngIf="showJson">
{{model|json}}
  </pre>