<div style="padding:30px;">
  <!-- [style.backgroundColor]="model.theme.bgColor"
  [style.color]="model.theme.textColor"> -->
  <div>
    <h2>{{model.name}}</h2>
  </div>
  <div>
    <p>{{model.description}}</p>
  </div>
  <div *ngFor="let section of model.sections">
    <div>
      <h3>{{section.name}}</h3>
    </div>
    <div>
      <p>{{section.description}}</p>
    </div>
    <div *ngFor="let item of section.attributes">

      <mat-form-field appearance="outline" *ngIf="item.type=='text'">
        <mat-label>{{item.label}}<span *ngIf="item.required" class="text-danger">*</span>
        </mat-label>
        <input type="text" matInput id="{{item.name}}" placeholder="{{item.placeholder}}" [(ngModel)]="item.value"
          [required]="item.required" [ngModelOptions]="{standalone: true}" autocomplete="off">
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="item.type=='email'">
        <mat-label>{{item.label}}<span *ngIf="item.required" class="text-danger">*</span>
        </mat-label>
        <input type="email" matInput id="{{item.name}}" placeholder="{{item.placeholder}}" [(ngModel)]="item.value"
          [ngModelOptions]="{standalone: true}" autocomplete="off">
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="item.type=='phone'">
        <mat-label>{{item.label}}<span *ngIf="item.required" class="text-danger">*</span>
        </mat-label>
        <ngx-mat-intl-tel-input [preferredCountries]="['us', 'gb']" [enablePlaceholder]="true" [enableSearch]="true"
          name="phone" describedBy="phoneInput" id="{{item.name}}" placeholder="{{item.placeholder}}"
          [(ngModel)]="item.value" autocomplete="off"></ngx-mat-intl-tel-input>
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="item.type=='number'">
        <mat-label>{{item.label}}<span *ngIf="item.required" class="text-danger">*</span>
        </mat-label>
        <input type="number" matInput id="{{item.name}}" min="{{item.min}}" max="{{item.max}}"
          placeholder="{{item.placeholder}}" [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}"
          autocomplete="off">
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="item.type=='date'">
        <mat-label>{{item.label}}<span *ngIf="item.required" class="text-danger">*</span>
        </mat-label>
        <input [mtxDatetimepicker]="date" id="{{item.name}}" placeholder="{{item.placeholder}}" name="{{item.name}}"
          matInput [min]="item.min" [min]="item.max" (click)="date.open()" />
        <mtx-datetimepicker-toggle [for]="date" matSuffix></mtx-datetimepicker-toggle>
        <mtx-datetimepicker #date type="time" mode="portrait">
        </mtx-datetimepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="item.type=='time'">
        <mat-label>{{item.label}}<span *ngIf="item.required" class="text-danger">*</span>
        </mat-label>
        <input [mtxDatetimepicker]="time" id="{{item.name}}" placeholder="{{item.placeholder}}" name="{{item.name}}"
          matInput [min]="item.min" [min]="item.max" (click)="time.open()" />
        <mtx-datetimepicker-toggle [for]="time" matSuffix></mtx-datetimepicker-toggle>
        <mtx-datetimepicker #time type="time" mode="portrait">
        </mtx-datetimepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="item.type=='datetime'">
        <mat-label>{{item.label}}<span *ngIf="item.required" class="text-danger">*</span>
        </mat-label>
        <input [mtxDatetimepicker]="datetime" id="{{item.name}}" placeholder="{{item.placeholder}}" name="{{item.name}}"
          matInput [min]="item.min" [min]="item.max" (click)="datetime.open()" />
        <mtx-datetimepicker-toggle [for]="datetime" matSuffix></mtx-datetimepicker-toggle>
        <mtx-datetimepicker #datetime type="datetime" mode="portrait">
        </mtx-datetimepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="item.type=='textarea'">
        <mat-label>{{item.label}}<span *ngIf="item.required" class="text-danger">*</span>
        </mat-label>
        <textarea matInput id="{{item.name}}" placeholder="{{item.placeholder}}" [(ngModel)]="item.value"
          [ngModelOptions]="{standalone: true}" autocomplete="off">
        </textarea>
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="item.type=='file'">
        <mat-label>{{item.label}}<span *ngIf="item.required" class="text-danger">*</span>
        </mat-label>
        <input type="file" matInput id="{{item.name}}" placeholder="{{item.placeholder}}" [(ngModel)]="item.value"
          [ngModelOptions]="{standalone: true}" autocomplete="off">
        <mat-hint>(File can't be uploaded right now)</mat-hint>
      </mat-form-field>

      <div *ngIf="item.type=='paragraph'">
        <p class="form-text">{{item.placeholder}}</p>
      </div>

      <mat-form-field appearance="outline" *ngIf="item.type=='select'">
        <mat-label>{{item.label}}<span *ngIf="item.required" class="text-danger">*</span>
        </mat-label>
        <mat-select matInput id="{{item.name}}" [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}">
          <mat-option *ngFor="let v of item.values" [value]="v.value">{{v.label}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="checkbox" *ngIf="item.type=='checkbox'">
        <mat-label>{{item.label}}<span *ngIf="item.required" class="text-danger">*</span>
        </mat-label>
        <ul class="checkbox-list">
          <li *ngFor="let v of item.values">
            <mat-checkbox [value]="v.value" name="{{v.name}}">
              {{v.label}}
            </mat-checkbox>
          </li>
        </ul>
      </div>

      <div class="radio" *ngIf="item.type=='radio'">
        <mat-label>{{item.label}}<span *ngIf="item.required" class="text-danger">*</span>
        </mat-label>
        <mat-radio-group class="radio-group" [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}">
          <mat-radio-button class="radio-button" *ngFor="let v of item.values" [value]="v.value">
            {{v.label}}
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div *ngIf="item.type=='rating'">
        <mat-label>{{item.label}}<span *ngIf="item.required" class="text-danger">*</span>
        </mat-label>
        <div>
          <bar-rating [(ngModel)]="item.value" [max]="item.max"></bar-rating>
        </div>
      </div>

    </div>
  </div>
</div>